.adm__pagForm {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.adm__pagForm strong {
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5219rem;
}

.btn__sair {
  color: var(--cor-do-titulo);
  font-weight: 600;
}

.btn__sair:hover {
  text-decoration: underline overline var(--cor-do-Bg-PCD);
  text-underline-offset: 6px;
}

/* Mobile */
@media only screen and (min-width: 280px) and (max-width: 475px) {
  .adm__pagForm {
    width: 17.1875rem;
  }
  .adm__pagForm strong {
    margin-bottom: 1.5219rem;
  }
  .botao__adm {
    padding: 0.75rem 1rem;
    width: 6.8125rem;
    height: 2.5rem;
  }
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .adm__pagForm {
    width: 17.1875rem;
  }
  .adm__pagForm strong {
    margin-bottom: 1.5219rem;
  }
  .botao__adm {
    padding: 0.75rem 1rem;
    width: 6.8125rem;
    height: 2.5rem;
  }
}

/* Desktop */
@media only screen and (min-width: 769px) and (max-width: 1439px) {
  .adm__pagForm {
    width: 27rem;
  }
  .adm__pagForm strong {
    margin-bottom: 1.5219rem;
  }
  .botao__adm {
    padding: 20.5008px 145px;
    width: 100%;
  }
  .sv {
    padding: 20.5008px 140px;
  }
}

@media only screen and (min-width: 1440px) {
  .adm__pagForm {
    width: 27rem;
  }
  .adm__pagForm strong {
    margin-bottom: 1.5219rem;
  }
  .botao__adm {
    padding: 20.5008px 145px;
    width: 100%;
  }
  .sv {
    padding: 20.5008px 140px;
  }
}
