.adm__pagForm {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.adm__pagForm strong {
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5219rem;
}


/* Mobile */
@media only screen and (min-width: 280px) and (max-width: 475px) {
  .adm__pagForm {
    width: 17.1875rem;
  }
  .adm__pagForm strong {
    margin-bottom: 1.5219rem;
  }
  .botao__adm {
    padding: 0.75rem 1rem;
    width: 6.8125rem;
    height: 2.5rem;
  }
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .adm__pagForm {
    width: 17.1875rem;
  }
  .adm__pagForm strong {
    margin-bottom: 1.5219rem;
  }
  .botao__adm {
    padding: 0.75rem 1rem;
    width: 6.8125rem;
    height: 2.5rem;
  }
}

/* Desktop */
@media only screen and (min-width: 769px) and (max-width: 1439px) {
  .adm__pagForm {
    width: 27rem;
  }
  .adm__pagForm strong {
    margin-bottom: 1.5219rem;
  }
  .botao__adm {
    padding: 1.2813rem 11.5938rem;
    width: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  .adm__pagForm {
    width: 27rem;
  }
  .adm__pagForm strong {
    margin-bottom: 1.5219rem;
  }
  .botao__adm {
    padding: 1.2813rem 11.5938rem;
    width: 100%;
  }
}
