.galeria__todosProduto {
  margin-top: 16px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 64px 16px;
}

.base__produto {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
.base__produto img {
  object-fit: cover;
}

.base__produto button {
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nome__tProduto, span {
  font-size: 14px;
  font-weight: 500;
}
.preco__tProduto {
  font-size: 16px;
  font-weight: 700;
}

/*os botões*/
.delete__produto {
  background-image: url(/assets/img/icons/delete.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  right: 48px;
  top: 8px;
}
.delete__produto:hover {
  background-image: url(/assets/img/icons/deletar.svg);
}

.editar__produto {
  background-image: url(/assets/img/icons/edite.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  right: 8px;
  top: 8px;
}
.editar__produto:hover {
  background-image: url(/assets/img/icons/editar.svg);
}





@media only screen and (min-width: 280px) and (max-width: 768px) {
  .tpdt {
    display: none;
  }
  .botao__ap {
    width: 155px;
    padding: 12px 16px;

  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .gcc {
    padding: 2rem;
  }
  .botao__ap {
    padding: 12px 16px;
  }
}