.cabecalho {
  display: flex;
  background-color: var(--branco);
  align-items: center;
  height: 72px;
  padding: 16px;
  justify-content: space-between;
  align-self: stretch;
}

/* Tablet - 768px */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .cabecalho {
    padding: 16px 32px;
  }
}

/* Desktop 1024px e 1440px */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .cabecalho {
    height: 105px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .cabecalho {
    height: 7.188rem;
  }
}

@media only screen and (min-width: 1440px) {
  .cabecalho {
    height: 7.188rem;
  }
}