.cabecalho__pesquisar {
  align-items: center;
  display: flex;
  /* gap: 2rem; */
}
.pesquisar__botao {
  background-color: transparent;
  background-image: url(../../img/cabecalho/magnifyingGlass.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  padding: 0.9375rem 0.9375rem;
}
:focus {
  outline: none;
  /* box-shadow: 0 0 2px var(--cor-do-titulo); */
}

/* Mobile */
@media only screen and (min-width: 280px) and (max-width: 360px) {
  .cabecalho__pesquisarInput input {
    display: none;
  }
  .cabecalho__pesquisarInput button {
    display: none;
  }
  .pesquisar__botao {
    cursor: default;
    margin-right: -1rem;
    order: 1;
  }
}

@media only screen and (min-width: 361px) and (max-width: 480px) {
  .cabecalho__pesquisarInput input {
    display: none;
  }
  .cabecalho__pesquisarInput button {
    display: none;
  }
  .pesquisar__botao {
    cursor: default;
    order: 1;
  }
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .cabecalho__pesquisar {
    gap: 2rem;
  }
  .cabecalho__pesquisarInput {
    align-items: center;
    background-color: var(--cor-do-Bg-cinza);
    border-radius: 1.25rem;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    width: 17rem;

  }
  .cabecalho__pesquisarInput button {
    display: block;
  }
  .pesquisar__botao {
    cursor: default;
    display: none;
  }
  .pesquisar {
    background-color: transparent;
    border: none;
    color: var(--cor-do-texto);
    font-size: 0.9375rem;
    width: 13rem;
  }
}

/* Desktop */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .cabecalho__pesquisar {
    gap: 32px;
  }
  .cabecalho__pesquisarInput {
    align-items: center;
    background-color: var(--cor-do-Bg-cinza);
    border-radius: 20px;
    display: flex;
    gap: 8px;
    padding: 8px 16px;
    width: 272px;
  }
  .cabecalho__pesquisarInput button {
    display: block;
  }
  .pesquisar__botao {
    cursor: default;
    display: none;
  }
  .pesquisar {
    background-color: transparent;
    border: none;
    color: var(--cor-do-texto);
    font-size: 15px;
    width: 208px;
  }
}

@media only screen and (min-width: 102px) and (max-width: 1439px) {
  .cabecalho__pesquisar {
    gap: 2rem;
  }
  .cabecalho__pesquisarInput {
    align-items: center;
    background-color: var(--cor-do-Bg-cinza);
    border-radius: 1.25rem;
    display: flex;
    gap: 0.625rem;
    padding: 0.5rem 1rem;
    width: 24.5rem;
  }
  .cabecalho__pesquisarInput button {
    display: block;
  }
  .pesquisar__botao {
    cursor: default;
    display: none;
  }
  .pesquisar {
    background-color: transparent;
    border: none;
    color: var(--cor-do-texto);
    font-size: 0.9375rem;
    width: 20.125rem;
  }
}

@media only screen and (min-width: 1440px) {
  .cabecalho__pesquisar {
    gap: 2rem;
  }
  .cabecalho__pesquisarInput {
    align-items: center;
    background-color: var(--cor-do-Bg-cinza);
    border-radius: 1.25rem;
    display: flex;
    gap: 0.625rem;
    padding: 0.5rem 1rem;
    width: 24.5rem;
  }
  .cabecalho__pesquisarInput button {
    display: block;
  }
  .pesquisar__botao {
    cursor: default;
    display: none;
  }
  .pesquisar {
    background-color: transparent;
    border: none;
    color: var(--cor-do-texto);
    font-size: 0.9375rem;
    width: 20.125rem;
  }
}