.cabecalho__pesquisar {
  display: flex;
  align-items: center;
  /* gap: 32px; */
}
.pesquisar__botao {
  background-image: url(../../img/cabecalho/magnifyingGlass.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  padding: 15px 15px;
  cursor: pointer;
}
:focus {
  outline: none;
  /* box-shadow: 0 0 2px var(--cor-do-titulo); */
}

/* Mobile - 360px */
@media only screen and (min-width: 280px) and (max-width: 360px) {
  .cabecalho__pesquisarInput input {
    display: none;
  }
  .cabecalho__pesquisarInput button {
    display: none;
  }
  .pesquisar__botao {
    cursor: default;
    order: 1;
    margin-right: -7px;
  }
}

@media only screen and (min-width: 361px) and (max-width: 480px) {
  .cabecalho__pesquisarInput input {
    display: none;
  }
  .cabecalho__pesquisarInput button {
    display: none;
  }
  .pesquisar__botao {
    cursor: default;
    order: 1;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .cabecalho__pesquisar {
    gap: 32px;
  }
  .cabecalho__pesquisarInput {
    background-color: var(--cor-do-Bg-cinza);
    display: flex;
    width: 272px;
    border-radius: 20px;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;

  }
  .cabecalho__pesquisarInput button {
    display: block;
  }
  .pesquisar__botao {
    display: none;
    cursor: default;
  }
  .pesquisar {
    border: none;
    width: 208px;
    color: var(--cor-do-texto);
    font-size: 15px;
    background-color: transparent;
  }
}

/* Desktop 1024px e 1440px */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .cabecalho__pesquisar {
    gap: 32px;
  }
  .cabecalho__pesquisarInput {
    background-color: var(--cor-do-Bg-cinza);
    display: flex;
    width: 272px;
    border-radius: 20px;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
  }
  .cabecalho__pesquisarInput button {
    display: block;
  }
  .pesquisar__botao {
    display: none;
    cursor: default;
  }
  .pesquisar {
    border: none;
    width: 208px;
    color: var(--cor-do-texto);
    font-size: 15px;
    background-color: transparent;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .cabecalho__pesquisar {
    gap: 32px;
  }
  .cabecalho__pesquisarInput {
    background-color: var(--cor-do-Bg-cinza);
    display: flex;
    width: 392px;
    border-radius: 20px;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
  }
  .cabecalho__pesquisarInput button {
    display: block;
  }
  .pesquisar__botao {
    display: none;
    cursor: default;
  }
  .pesquisar {
    border: none;
    width: 322px;
    color: var(--cor-do-texto);
    font-size: 15px;
    background-color: transparent;
  }
}

@media only screen and (min-width: 1440px) {
  .cabecalho__pesquisar {
    gap: 32px;
  }
  .cabecalho__pesquisarInput {
    background-color: var(--cor-do-Bg-cinza);
    display: flex;
    width: 392px;
    border-radius: 20px;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
  }
  .cabecalho__pesquisarInput button {
    display: block;
  }
  .pesquisar__botao {
    display: none;
    cursor: default;
  }
  .pesquisar {
    border: none;
    width: 322px;
    color: var(--cor-do-texto);
    font-size: 15px;
    background-color: transparent;
  }
}
