.cabecalho {
  align-items: center;
  background-color: var(--branco);
  display: flex;
  height: 4.5rem;
  justify-content: space-between;
  padding: 1rem;
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .cabecalho {
    padding: 1rem 2rem;
  }
}

/* Desktop */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .cabecalho {
    height: 6.5625rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .cabecalho {
    height: 7.188rem;
  }
}
@media only screen and (min-width: 1440px) {
  .cabecalho {
    height: 7.188rem;
  }
}