.logo__imagem {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Mobile */
@media only screen and (min-width: 280px) and (max-width: 360px) {
  .logo__imagem {
    width: 7.5rem;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .logo__imagem {
    margin-left: 1rem;
    width: 7.5rem;
  }
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .logo__imagem {
    /* margin-left: 2rem; */
    width: 8.125rem;
  }
}

/* Desktop */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .logo__imagem {
    margin-left: 3.125rem;
    width: 11rem;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .logo__imagem {
    margin-left: 5.625rem;
    width: 11rem;
  }
}

@media only screen and (min-width: 1440px) {
  .logo__imagem {
    margin-left: 6.25rem;
    width: 12.5rem;
  }
}