.galeria__produtoLista {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
}
.galeria__produtoLista li{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.imagem__produto {
  height: 150px;
  width: 150px;
}
.nome__produto {
  color: var(-cor-do-texto);
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}

.preco__produto {
  color: var(-cor-do-texto);
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
}

.ver__produto {
color: var(--cor-do-Bg-PCD);
font-size: 16px;
font-weight: 700;
}

.ver__produto:hover {
  text-decoration: underline;
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .imagem__produto {
    height: 176px;
    width: 176px;
  }
}

/* Desktop */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .imagem__produto {
    height: 176px;
    width: 176px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .imagem__produto {
    height: 176px;
    width: 176px;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1439px) {
  .imagem__produto {
    height: 176px;
    width: 176px;
  }
}

@media only screen and (min-width: 1440px) {
  .imagem__produto {
    height: 176px;
    width: 176px;
  }
}