.galeria__produtoLista {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}
.Oproduto {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.imagem__produto {
  height: 9.375rem;
  width: 9.375rem;
}
.nome__produto {
  color: var(-cor-do-texto);
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: capitalize;
}

.preco__produto {
  color: var(-cor-do-texto);
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
}

.carrinho__produto {
  border: 1px solid var(--cor-do-comprar);
  border-radius: 0.625rem;
  color: var(--cor-do-comprar);
  font-size: 1rem;
  font-weight: 700;
  height: 1.5625rem;
  margin: 0 0 0 auto;
  padding: 0.1875rem;
  text-align: center;
  width: 6.25rem;
}
.carrinho__produto:hover {
  border: 1px solid var(--cor-do-comprar);
  border-radius: 0.625rem;
  color: var(--branco);
  background-color: var(--cor-do-comprar);
}

@media only screen and (min-width: 359px) and (max-width: 450px) {
  .galeria__produtoLista {
    gap: 0.6875rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1439px) {
  .imagem__produto {
    height: 11rem;
    width: 11rem;
  }
}

@media only screen and (min-width: 1440px) {
  .imagem__produto {
    height: 11rem;
    width: 11rem;
  }
}

/*oculta os 2 ultimos produtos*/
@media (max-width: 1050px) {
  .galeria__produtoLista div:nth-child(5),
  .galeria__produtoLista div:nth-child(6) {
      display:none;
  }
}

@media (max-width: 1197px) {
  .galeria__produtoLista div:nth-child(6),
  .galeria__produtoLista div:nth-child(6) {
      display:none;
  }
}