main {
  background-color: var(--cor-do-Bg-cinza);
}

/* Mobile */
@media only screen and (min-width: 280px) and (max-width: 480px) {
  .galeria__container {
    padding: 0.5rem;
  }
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .galeria__container {
    padding: 0.5rem;
  }
}

/* Desktop */
@media only screen and (min-width: 769px) and (max-width: 1439px) {
  .galeria__container {
    max-width: var(--max-width);
    margin: 0 auto 4rem auto;
    padding: 0 2rem;
  }
}

@media only screen and (min-width: 1440px) {
  .galeria__container {
    max-width: var(--max-width);
    margin: 0 auto 4rem auto;
    padding: 0 2rem;
  }
}