/* Mobile - 360px */
@media only screen and (min-width: 280px) and (max-width: 360px) {
  .banner {
    position: relative;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .banner {
    position: relative;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .banner {
    position: relative;
    height: 352px;
  }
}

/* Desktop 1024px e 1440px */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .banner {
    position: relative;
    height: 352px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .banner {
    position: relative;
    height: 352px;
  }
}

@media only screen and (min-width: 1440px) {
  .banner {
    position: relative;
    height: 352px;
  }
}