.banner {
  position: relative;
}

@media only screen and (min-width: 481px) and (max-width: 1439px) {
  .banner {
    height: 22.5rem;
    position: relative;
  }
}

@media only screen and (min-width: 1440px) {
  .banner {
    height: 22.5rem;
    position: relative;
  }
}