/* Mobile - 360px */
@media only screen and (min-width: 280px) and (max-width: 360px) {
  .divBanner {
    display: flex;
    flex-flow: column-reverse;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.00) 41.15%, rgba(0, 0, 0, 0.80) 100%), url('../../img/banner/banner-geeky-shots.jpg'), lightgray 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 12rem;
    width: 100%;
  }
}

@media only screen and (min-width: 361px) and (max-width: 480px) { 
  .divBanner {
    display: flex;
    flex-flow: column-reverse;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.00) 41.15%, rgba(0, 0, 0, 0.80) 100%), url('../../img/banner/banner-geeky-shots.jpg'), lightgray 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 15.625rem;
    width: 100%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1439px) { 
  .divBanner {
    display: flex;
    flex-flow: column-reverse;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.00) 41.15%, rgba(0, 0, 0, 0.80) 100%), url('../../img/banner/banner-geeky-shots.jpg'), lightgray 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 22.5rem;
    width: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  .divBanner {
    display: flex;
    flex-flow: column-reverse;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.00) 41.15%, rgba(0, 0, 0, 0.80) 100%), url('../../img/banner/banner-geeky-shots.jpg'), lightgray 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 22.5rem;
    width: 100%;
  }
}