.rodape__container {
  background-color: var(--cor-do-Bg-azul);
}
.logo__rodape {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 11rem;
}
.rodape__nav a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--cor-do-texto);
}

/* Mobile */
@media only screen and (min-width: 280px) and (max-width: 360px) {
  .rodape__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .rodape__div {
    display: flex;
    flex-wrap: wrap;
    /* gap: 16px; */
    justify-content: center;
    align-items: center;
  }
  .rodape__nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  .logo__rodape {
    height: 3.125rem;
  }
}

@media only screen and (min-width: 361px) and (max-width: 480px) {
  .rodape__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .rodape__div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 360px;
    justify-content: center;
    align-items: center;
  }
  .rodape__nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .logo__rodape {
    height: 3.125rem;
  }
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .rodape__innerContainer {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 2rem 1.625rem;
    width: 100%;
  }
  .rodape__div {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    /* gap: 16px 112px; */
    min-width: 15.875rem;
  }
  .rodape__nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .rodape__nav a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-do-texto);
  }
  .rodape__nav a:hover {
    text-decoration: none;
  }
}

@media only screen and (min-width: 600px) and (max-width: 760px) {
  .rodape__innerContainer {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 2rem 1.625rem;
    width: 100%;
  }
  .rodape__div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem ;
  }
  .rodape__form {
    width: 22.9375rem;
  }
  .rodape__nav a:hover {
    text-decoration: none;
  }
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
  .rodape__innerContainer {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 2rem 1rem;
    width: 100%;
  }
  .rodape__div {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    gap: 1rem 7rem;
    min-width: 15.875rem;
  }
  .rodape__div {
    gap: 1rem 7rem;
    /* min-width: 12.5rem; */
    justify-content: center;
    align-items: center;
  }
  .rodape__nav a:hover {
    text-decoration: none;
  }
}

/* Desktop */
@media only screen and (min-width: 769px) and (max-width: 11439px) {
  .rodape__innerContainer {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
  }
  .rodape__div {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
  }
  .rodape__nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .rodape__nav a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-do-texto);
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1100px) {
  .rodape__innerContainer {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    /* padding: 4rem 2rem; */
    padding: 2rem 4.6875rem;
    width: 100%;
  }
  .logo__rodape {
    transform: rotate(0deg);
  }
  .rodape__nav a:hover {
    text-decoration: underline;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1180px) {
  .rodape__innerContainer {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    /* padding: 4rem 2rem; */
    padding: 2rem 4.6875rem;
    width: 100%;
  }
  .logo__rodape {
    transform: rotate(-90deg);
  }
  .rodape__nav a:hover {
    text-decoration: underline;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .rodape__innerContainer {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    /* padding: 4rem 2rem; */
    padding: 2rem 4.6875rem;
    width: 100%;
  }
  .logo__rodape {
    transform: rotate(-90deg);
    width: 15.625rem;
  }
  .rodape__nav a:hover {
    text-decoration: underline;
  }
}

@media only screen and (min-width: 1440px) {
  .rodape__innerContainer {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    /* padding: 4rem 2rem; */
    padding: 2rem 4.6875rem;
    width: 100%;
  }
  .rodape__div {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
  }
  .rodape__nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .rodape__nav a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-do-texto);
  }
  .rodape__nav a:hover {
    text-decoration: underline;
  }
  .logo__rodape {
    transform: rotate(-90deg);
    width: 15.625rem;
  }
}