.erroR {
  align-items: center;
  color: var(--cor-do-erro);
  display: flex;
  font-size: 0.75rem;
  font-weight: 500;
  height: 1rem;
}

.erroL {
  align-items: center;
  color: var(--cor-do-erro);
  display: flex;
  font-size: 0.75rem;
  font-weight: 500;
  height: 2rem;
}

.rodape__devel {
  align-items: center;
  background-color: var(--branco);
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.rodape__devel  span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--cor-do-texto);
}