:root {
  /**Cores*/
  /* Botao */
  --cor-border-dashed:    #7B61FF;
  --branco:               #FFFFFF;
  
  /* Hierarquia=Primário, Estado=Comum, Tamanho=Desktop */
  --cor-do-Bg-PCD:        #2A7AE4;
  --cor-do-texto-PCD:    var(--branco);
  
  /* Hierarquia=Primário, Estado=Hover, Tamanho=Desktop */
  --cor-do-Bg-PHD:        #5595E9;
  --cor-do-texto-PHD:    var(--branco);

  /* Hierarquia=Primário, Estado=Comum, Tamanho=Mobile */
  --cor-do-Bg-PCM:        var(--cor-do-Bg-PCD);
  --cor-do-texto-PCM:     var(--branco);
  
  /* Hierarquia=Primário, Estado=Hover, Tamanho=Mobile */
  --cor-do-Bg-PHM:        var(--cor-do-Bg-PHD);
  --cor-do-Bg-2:          #5f9beb;
  --cor-do-texto-PHM:     var(--branco);
  
  /* Hierarquia=Secundário, Estado=Comum, Tamanho=Desktop */
  --cor-da-Borda-SCD:     var(--cor-do-Bg-PCD);
  --cor-do-texto-SCD:     var(--cor-do-Bg-PCD);
  
  /* Hierarquia=Secundário, Estado=Hover, Tamanho=Desktop */
  --cor-do-Bg-SHD:         #D4E4FA;
  --cor-da-Borda-SHD:      var(--cor-do-Bg-PCD);
  --cor-do-texto-SHD:      var(--cor-do-Bg-PCD);
  
  /* Hierarquia=Secundário, Estado=Comum, Tamanho=Mobile */
  --cor-da-Borda-SCM:      var(--cor-do-Bg-PCD);
  --cor-do-texto-SCM:      var(--cor-do-Bg-PCD);
  
  /* Hierarquia=Secundário, Estado=Hover, Tamanho=Mobile */
  --cor-do-Bg-SHM:         var(--cor-do-Bg-SHD);
  --cor-da-Borda-SHM:      var(--cor-do-Bg-PCD);
  --cor-da-texto-SHM:      var(--cor-do-Bg-PCD);
  
  /* Hierarquia=Login */
  --cor-da-Borda-l:        var(--cor-do-Bg-PCD);
  --cor-do-texto-l:        var(--cor-do-Bg-PCD);

	/* Font */
  --cor-do-erro:           #d42222;
	--cor-do-titulo:         #2C2C2C;
	--cor-do-texto:          #464646;
  --cor-do-texto-busca:    #A2A2A2;
  --cor-do-comprar:        #198F51;
	--cor-v-produto:         #00227E;
	
  /* Background */
	--cor-do-Bg-azul:        #EAF2FD;
  --cor-do-Bg-cinza:       #F5F5F5;

  /* Tamanho */
  --max-width: calc(1136px + 64px);
}	

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--cor-do-Bg-cinza);
  font-family: 'Raleway', sans-serif;
  margin: 0 auto !important;
}

/* Center */
.container {
  padding-right: 6%;
  padding-left: 6%;
}

@media only screen and (min-width: 1440px) {
  .container {
    padding-left: calc((100% - 1200px)/2);
    padding-right: calc((100% - 1200px)/2);
  }
}