/*header*/
.cabecalho {
  background-color: var(--branco);
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  height: 115px;
}

.logo {
  height: 50px;  
}

#divBusca{
  display: flex;
  background-color: var(--cor-do-Bg-cinza);
  width: 400px;
  height: 40px;
  padding: 12px;
  border-radius: 100px;
  margin-left: 30px;
}
.busca {
  background-color: var(--cor-do-Bg-cinza);
  border: none;
  height: 16px;
  width: 350px;
  color: var(--cor-do-texto);
  font-size: 15px;
}
#divBusca img {
  display: flex;
  width: 25px;
  height: 22px;
  margin: -3px 5px 5px 5px;
}

.btnLogin {
  /* display: flex; */
  margin: auto;
  border: 1px solid var(--cor-da-Borda-SCD) ;
  padding: 16px;
  width: 150px;
  text-align: center;
  color: var(--cor-do-texto-SCD);
  text-transform: capitalize;
}

.banner {
  position: relative;
}
.banner__imagem {
  /* background-image: url('../img/banner/banner-image.png'); */
  width: 100%;
}
.banner__titulo {
  display: flex;
  position: absolute;
  color: var(--branco);

  top: 50%;
  left: 20%;
}
.banner__texto {
  position: absolute;
  color: var(--branco);
  top: 70%;
  left: 20%;
}
.banner__botao {
  background-color: var(--cor-do-Bg-PCD);
  position: absolute;
  color: var(--branco);
  top: 80%;
  left: 20%;
  height: 50px;
  text-align: center;
  padding: 16px;;
}
.banner__botao:hover {
  text-decoration: underline;
}


@media screen and (min-width: 768px) {
  .logo {
    height: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .logo {
    height: 90px;
  }
}

.produto {
  background-color: var(--cor-do-Bg-cinza);
}