/* base */
@import url(./resetEnormalize/reset.css);
@import url(./resetEnormalize/normalize.css);
@import url(./base.css);

/* cabecalho */
@import url(./cabecalho/cabecalho.css);
@import url(./cabecalho/botaoLogin.css);
@import url(./cabecalho/cabecalhoPesquisar.css);
@import url(./cabecalho/logo.css);

/* banner */
@import url(./banner/banner.css);
@import url(./banner/bannerBotao.css);
@import url(./banner/bannerTexto.css);
@import url(./banner/bannerTitulo.css);
@import url(./banner/divBanner.css);

/* galeria de produtos */
@import url(./galeriaProdutos/galeriaContainer.css);
@import url(./galeriaProdutos/galeriaProduto.css);
@import url(./galeriaProdutos/tituloGaleria.css);

/* rodape */


.rodape__container {
  background-color: var(--cor-do-Bg-azul);
}

.rodape__innerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 64px 32px
}
.logo__rodapeNav {
  display: flex;
  flex: 1 1;
  flex-wrap: wrap;
  gap: 16px 112px;
  min-width: 254px
}


.nav__rodape ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px
}
.nav__rodape a {
  font-size: 16px;
  font-weight: 500;
  color: var(--cor-do-texto)
}
.nav__rodape a:hover {
  text-decoration: underline;
}



.rodape__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 560px
}
.rodape__textarea{
  height: 82px
}

.rodape__formInput {
  position: relative;
  width: 100%
}

.rodape__formInput label {
  position: absolute;
  top: 16px;
  left: 12px;
  pointer-events: none;
  transition: opacity,top,color,font-size,.15s;
  color: var(--cor-do-texto-busca)
}

.rodape__formInput input {
  padding: 28px 12px 7px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  width: 100%;
  color: var(--cor-do-texto);
  caret-color: var(--cor-do-texto-SCM);
  border-bottom: 1px solid var(--cor-do-texto-busca);
  height: 53px
}

.rodape__formInput input:focus {
  outline: none;
  box-shadow: none;
  padding-bottom: .375rem;
  border-bottom: 2px solid var(--cor-do-texto-SCM)
}

.rodape__formInput input:focus+label,
.rodape__formInput input:not(:placeholder-shown)+label {
  font-size: .75rem;
  top: 8px
}

.rodape__formInput input:focus+label {
  color: var(--cor-do-texto-SCM)
}

.rodape__formInput input::placeholder {
  opacity: 0;
  color: var(--cor-do-texto-busca)
}

.textarea__custom {
  position: relative;
  width: 100%
}

.textarea__custom label {
  position: absolute;
  top: 16px;
  left: 12px;
  pointer-events: none;
  transition: opacity,top,color,font-size,.15s;
  color: var(--cor-do-texto-busca)
}

.textarea__custom textarea {
  padding: 28px 12px 7px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  width: 100%;
  color: var(--cor-do-texto);
  caret-color: var(--cor-do-Bg-PCD);
  border-bottom: 1px solid var(--cor-do-texto-busca);
  resize: none;
  flex-grow: 1;
  overflow: hidden
}

.textarea__custom textarea:focus {
  outline: none;
  box-shadow: none;
  padding-bottom: .375rem;
  border-bottom: 2px solid var(--cor-do-Bg-PCD)
}

.textarea__custom textarea:focus+label,
.textarea__custom textarea:not(:placeholder-shown)+label {
  font-size: .75rem;
  top: 8px
}

.textarea__custom textarea:focus+label {
  color: var(--cor-do-Bg-PCD)
}

.textarea__custom textarea::placeholder {
  opacity: 0;
  color: var(--cor-do-texto-busca)
}

.rodape__error {
  height: 16px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: var(--cor-do-erro)
}

.rodape__devel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0
}
.rodape__devel  span {
  font-size: 16px;
    font-weight: 500;
    color: var(--cor-do-texto)
}

.botao__submit {
  display: flex;
padding: 16px;
justify-content: center;
align-items: center;
gap: 10px;

background-color: var(--cor-do-Bg-PCD);
}
.botao__btn {
  width: 170px;
  margin-left: 390px;
  border: none;
  color: var(--branco);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  border: 1px solid var(--cor-do-Bg-PCD);
}
/* .botao__btn:hover {
  background-color: var(--cor-do-Bg-SHD);
  border: 1px solid var(--cor-do-Bg-PCD);
  color: var(--cor-do-texto-SHD);
  cursor: pointer

} */
.botao__btn:hover {
  background-color: var(--cor-do-Bg-SHD);
  border: 1px solid var(--cor-do-titulo);
  color: var(--cor-do-titulo);
  cursor: pointer

}
.logo__rodape {
  display: flex;
width: 176px;
height: 50px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}