

@media screen and (min-width: 768px) {
  .log {
    height: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .log {
    height: 50px;
  }
}

.produto {
  background-color: var(--cor-do-Bg-cinza);
}