.rodape__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Mobile */
@media only screen and (min-width: 280px) and (max-width: 480px) {
  .rodape__form {
    padding: 32px 16px;
  }
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .rodape__form {
    padding: 32px 16px; /*ver ainda */
  }
}

/* Desktop */
@media only screen and (min-width: 769px) and (max-width: 1439px) {
  .rodape__form {
    padding: 32px 16px;
    width: 560px;
  }
  
}

@media only screen and (min-width: 1440px) {
  .rodape__form {
    width: 560px;
  }
}