.btnLogin {
  background-color: transparent;
  background-image: url(../../../img/icons/login.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 40px;
  padding: 12px 20px;
}
.btnLogin {
  opacity: 0.6;
  transition: 400ms;
}

.btnLogin:hover {
  opacity: 1;
}


@media only screen and (min-width: 280px) and (max-width: 768px) {
  .btnLogin {
    background-color: transparent;
    background-image: url(../../../img/icons/login.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
  }
}